header > * {

  width: 80%;
  height: auto;
  text-align: center;
  border: 2px;
  border-style: solid;
  padding:  1% 5% 1% 5%;
  margin: 1% 5% 1% 5%;
}

canvas{
  width: 80%;
  height: 80%;
  text-align: center;
  border: 2px;
  border-style: solid;
  padding:  1% 5% 1% 5%;
  margin: 1% 5% 1% 5%;
}
